@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

*{padding: 0; margin: 0; border: 0;}
*,*:after,*:before{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-side-adjust: 100%; -moz-text-side-adjust: 100%; -webkit-text-side-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body{
    font-family: 'Rubik', sans-serif;
    background-color: black;
}
h3{
    font-size: 60px;
    color: white;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.site{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.site__header{
    flex: 0 0 50px;
    background-color: rgb(17, 17, 19);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 1500ms;
}
.site__header__wrapper{
    display: flex;
    overflow: hidden;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.site__header__wrapper_content{
    margin: 0 5px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0);
    letter-spacing: -0.3px;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.site__body{
    width: 100vw;
    margin: 0 auto;
    flex: 1 1 auto;
}
.site__body__signbox-wrapper{
    margin: 0 auto;
    padding: 50px 0;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.site__body__signbox{
    margin: 0 auto;
    width: 450px;
    background-color: rgb(17, 17, 19);
    border-radius: 30px;
    overflow: hidden;
    opacity: 0;
    animation-name: fadein-scale;
    animation-timing-function: ease-out;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.site__body__signbox__form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    height: 100%;
}
.site__body__signbox__form p{
    display: block;
    padding-left: 22px;
    font-size: 20px;
    color: #aaaaaa;
}
.site__body__signbox__form_input{
    display: block;
    margin-top: 3px;
    margin-bottom: 30px;
    padding: 15px;
    padding-left: 22px;
    font-size: 20px;
    border-radius: 50px;
    background-color: #cccccc;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
.site__body__signbox__form_input:focus{
    box-shadow: 0 0 4px white;
    background-color: white;
}
.site__body__signbox__form_button{
    display: block;
    align-self: center;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    background-color: #cccccc;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 50px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    box-shadow: 0 3px 0 #777777;
    top: 0;
    position: relative;
}
.site__body__signbox__form_button:hover, .site__body__signbox__form_button:focus{
    background-color: white;
    box-shadow: 0 2px 0 #777777, 0 0 4px white;
    top: 2px;
}
.site__body__signbox__form_a{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    align-self: center;
    font-size: 16px;
    font-family: sans-serif;
    color: #cccccc;
}
.site__body__signbox__form_a:hover, .site__body__signbox__form_a:focus{
    text-shadow: 0 0 1.5px white;
    color: white;
}

.site__body__info{
    background-color: rgb(17, 17, 19);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 500ms;
}
.site__body__info-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site__body__info-right{
    margin-left: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 35%;
}
.site__body__info_picture{
    transform: scale(1.3);
    background-color: rgb(50, 50, 52);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15px;
    overflow: hidden;
}
.image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.site__body__info_name{
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}
.site__body__info_username{
    color: white;
    font-size: 15px;
    font-weight: 300;
}
.site__body__info__stats{
    display: flex;
}
.site__body__info__stats_item{
    margin: 15px;
    font-size: 18px;
    color: white;
}
.site__body__settings{
    display: flex;
    flex-flow: row wrap;
    color: white;
    background-color: rgb(17, 17, 19);
    justify-content: center;
    align-items: stretch;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    overflow: hidden;
}
.site__body__settings__container{
    margin: 20px;
    margin-top: 50px;
    padding: 30px;
    display: grid;
    color: white;
    background-color: rgb(17, 17, 19);
    justify-content: center;
    align-content: start;
    background-color: rgb(30, 30, 32);
    border-radius: 10px;
}
.site__body__settings_heading{
    margin-bottom: 30px;
    font-size: 24px;
}
.site__body__settings_profile-section{
    font-size: 20px;
    font-weight: 300;
}
.site__body__settings_profile-section input{
    margin-top: 3px;
    margin-bottom: 30px;
    padding: 5px;
    padding-left: 22px;
    font-size: 18px;
    border-radius: 50px;
    background-color: #cccccc;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
.site__body__settings_profile-section input:focus{
    box-shadow: 0 0 4px white;
    background-color: white;
}
.site__body__graphql{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.site__body__graphql_item{
    margin: 30px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(30, 30, 32);

    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein-scale;
    animation-duration: 1500ms;
}
.site__body__integrations{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 1500ms;
}

.site__footer{
    flex: 0 0 50px;
    background-color: rgb(17, 17, 19);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 1500ms;
}
.site__footer__wrapper{
    display: flex;
    overflow: hidden;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.site__footer__wrapper_content{
    color: white;
    font-weight: 300;
}


.hidden{
    display: none;
}
.btnActive{
    color: red;
    font-size: 24px;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadein-scale {
    0%{
        opacity: 0;
        transform: scale(0.95);
    }
    100%{
        opacity: 1;
    }
}
