<!DOCTYPE html>
<html lang="ru" dir="ltr" class="">
    <head>
        <meta charset="utf-8">
        <title>sign in</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script> tailwind.config = { darkMode: 'class' } </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" charset="utf-8"></script>
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap');
        </style>
        <style type="text/tailwindcss" media="screen">
        .text-C { font-family: 'Cinzel', cursive; }
        .text-CD { font-family: 'Cinzel Decorative', cursive; }
        .text-font-main { font-family: 'Rubik', sans-serif; }
        .animation-hue-rotate { animation: hue-rotate 60s linear infinite; }
        @keyframes hue-rotate { from{filter: hue-rotate(0deg);} to{filter: hue-rotate(360deg);} }
        input::placeholder { text-align: center; }
        </style>
    </head>
    <body class="overflow-hidden transition bg-white dark:bg-black bg-fixed min-h-screen flex flex-col text-black dark:text-white text-font-main font-light">

        <!-- <img id="bgImage" class="-z-10 absolute h-full w-full object-cover" src="" alt=""> -->
        <div class="-z-10 opacity-90 absolute h-full w-full"><div class="h-full w-full animation-hue-rotate bg-gradient-to-r from-indigo-200/20 dark:from-indigo-900/10 via-fuchsia-200/30 dark:via-purple-900/20 to-sky-200/20 dark:to-violet-900/10"></div></div>

        <header class="bg-white/70 dark:bg-black/70 backdrop-blur w-screen fixed flex flex-col">
            <div class="container mx-auto h-12 flex justify-between items-center">
                <a id="darkmodeBtn" class="animation-hue-rotate text-CD bg-clip-text text-transparent bg-gradient-to-r from-indigo-600 dark:from-indigo-400 to-rose-600 dark:to-rose-400" href="#">LESSPROFILES</a>
                <a href="home.html">HOME</a>
            </div>
        </header>

        <div class="py-12 flex flex-col flex-auto">

            <div id="signin" class="bg-white/50 dark:bg-black/50 backdrop-blur m-auto rounded-xl flex flex-col place-content-center place-items-center p-12">
                <div class="text-5xl mb-10">SIGN IN</div>
                <form class="flex flex-col place-content-center place-items-center space-y-4" action="home.html" method="POST">
                    <input class="transition-all p-2 px-4 w-72 rounded-full bg-white/50 dark:bg-black/50" tabindex="1" type="text" name="username" value="" placeholder="username">
                    <input class="transition-all p-2 px-4 w-72 rounded-full bg-white/50 dark:bg-black/50" tabindex="2" type="password" name="password" value="" placeholder="password">
                    <div class="flex w-full justify-between items-center">
                        <input class="cursor-pointer transition-all p-2 w-full rounded-full text-neutral-700 dark:text-neutral-200 hover:text-black dark:hover:text-white bg-white/50 dark:bg-black/50" tabindex="3" type="submit" name="button" value="SIGN IN">
                    </div>
                </form>
                <button id="createaccountBtn" class="transition-all shrink-0 p-2 rounded-full text-neutral-700 dark:text-neutral-200 hover:text-black dark:hover:text-white" tabindex="4">create account</button>
            </div>

            <div id="signup" class="bg-white/50 dark:bg-black/50 backdrop-blur m-auto rounded-xl flex flex-col place-content-center place-items-center p-12">
                <div class="text-5xl mb-10">SIGN UP</div>
                <form class="flex flex-col place-content-center place-items-center space-y-4" action="home.html" method="POST">
                    <input class="transition-all p-2 px-4 w-72 rounded-full bg-white/50 dark:bg-black/50" tabindex="1" type="text" name="username" value="" placeholder="username">
                    <input class="transition-all p-2 px-4 w-72 rounded-full bg-white/50 dark:bg-black/50" tabindex="2" type="text" name="email" value="" placeholder="email">
                    <input class="transition-all p-2 px-4 w-72 rounded-full bg-white/50 dark:bg-black/50" tabindex="3" type="password" name="password" value="" placeholder="password">
                    <input class="transition-all p-2 px-4 w-72 rounded-full bg-white/50 dark:bg-black/50" tabindex="4" type="password" name="password-repeat" value="" placeholder="repeat password">
                    <div class="flex w-full justify-between items-center">
                        <input class="cursor-pointer transition-all p-2 w-full rounded-full text-neutral-700 dark:text-neutral-200 hover:text-black dark:hover:text-white bg-white/50 dark:bg-black/50" tabindex="5" type="submit" name="button" value="SIGN UP">
                    </div>
                </form>
                <button id="signininsteadBtn" class="transition-all shrink-0 p-2 rounded-full text-neutral-700 dark:text-neutral-200 hover:text-black dark:hover:text-white" tabindex="6">sign in instead</button>
            </div>

        </div>

        <footer class="bg-white/70 dark:bg-black/70 backdrop-blur w-screen fixed bottom-0 flex flex-col">
            <div class="container mx-auto h-12 flex justify-between items-center">
                <a href="#">FOOTER</a>
            </div>
        </footer>

        <script type="text/javascript">

        const signinDivNode = document.getElementById('signin');
        const signupDivNode = document.getElementById('signup');
        const createaccountBtnNode = document.getElementById('createaccountBtn');
        const signininsteadBtnNode = document.getElementById('signininsteadBtn');
        const darkmodeBtnNode = document.getElementById('darkmodeBtn');

        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        };

        darkmodeBtnNode.addEventListener('dblclick', () => { document.documentElement.classList.toggle('dark'); });

        signupDivNode.classList.toggle('hidden');

        createaccountBtnNode.addEventListener('click', () => {
            signinDivNode.animate(
                [
                    {
                        transform: 'translateX(0)',
                        opacity: 1
                    },
                    {
                        transform: 'translateX(-10px)',
                        opacity: 0
                    }
                ],
                {
                    duration: 300,
                    easing: "ease-in-out"
                }
            );
            setTimeout(() => {
                signinDivNode.classList.toggle('hidden');
                signupDivNode.classList.toggle('hidden');
                signupDivNode.animate(
                    [
                        {
                            transform: 'translateX(10px)',
                            opacity: 0
                        },
                        {
                            transform: 'translateX(0)',
                            opacity: 1
                        }
                    ],
                    {
                        duration: 300,
                        easing: "ease-in-out"
                    }
                );
            }, 300);
        });

        signininsteadBtnNode.addEventListener('click', () => {
            signupDivNode.animate(
                [
                    {
                        transform: 'translateX(0)',
                        opacity: 1
                    },
                    {
                        transform: 'translateX(10px)',
                        opacity: 0
                    }
                ],
                {
                    duration: 300,
                    easing: "ease-in-out"
                }
            );
            setTimeout(() => {
                signupDivNode.classList.toggle('hidden');
                signinDivNode.classList.toggle('hidden');
                signinDivNode.animate(
                    [
                        {
                            transform: 'translateX(-10px)',
                            opacity: 0
                        },
                        {
                            transform: 'translateX(0)',
                            opacity: 1
                        }
                    ],
                    {
                        duration: 300,
                        easing: "ease-in-out"
                    }
                );
            }, 300);
        });

        anime({
            targets: 'header',
            translateY: [-48, 0],
            easing: 'easeInOutExpo',
        });

        anime({
            targets: 'footer',
            translateY: [48, 0],
            easing: 'easeInOutExpo',
        });

        anime({
            targets: '#bgImage',
            opacity: [0, 1],
            easing: 'easeInOutExpo',
            duration: 500,
        });

        anime({
            targets: ['#signin', '#signup'],
            opacity: [0, 1],
            easing: 'easeInOutExpo',
            duration: 1000,
        });

        </script>

    </body>
</html>
