{% extends 'second_main.html' %}
{% block content %}
<body>
<div class="site">
    <header class="site__header">
        <div class="site__header__wrapper">

            <a class="site__header__wrapper_content" href="index.html">INDEX</a>
            <div class="site__header__wrapper_content">HEADER</div>
            <div class="site__header__wrapper_content">HEADER</div>
            <div class="site__header__wrapper_content">HEADER</div>
            <a class="site__header__wrapper_content" href="signin.html">SIGN OUT</a>

        </div>
    </header>
    <div class="site__body">
        <div class="site__body__nav">
            <div class="site__body__nav_content">NAVIGATION 1</div>
            <div class="site__body__nav_content">NAVIGATION 2</div>
            <div class="site__body__nav_content">NAVIGATION 3</div>
            <div class="site__body__nav_content">NAVIGATION 4</div>
            <div class="site__body__nav_content">NAVIGATION 5</div>
        </div>
        <div class="site__body__account">
            <div class="site__body__account_cover">
                <br>COVER IMAGE HEIGHT=300px
            </div>
            <div class="site__body__account_image">
                <br>...IMAGE...<br>200x200px
            </div>
            <div class="site__body__account__information">
                <div class="site__body__account__information_name">NAME</div>
                <div class="site__body__account__information_name">NAME</div>
                <div class="site__body__account__information_name">NAME</div>
            </div>
            <div class="site__body__account__content">
                CONTENT
            </div>
        </div>


    </div>
    <footer class="site__footer">
        <div class="site__footer__wrapper">

            <a class="site__footer__wrapper_content" href="index.html">INDEX</a>
            <a class="site__footer__wrapper_content" href="home.html">HOME</a>
            <div class="site__footer__wrapper_content"><b>FOOTER</b></div>
            <a class="site__footer__wrapper_content" href="signin.html">SIGN IN</a>
            <a class="site__footer__wrapper_content" href="signup.html">SIGN UP</a>

        </div>
    </footer>
</div>
{% endblock content %}