{% extends 'main.html' %}
{% block content %}

        <div class="site">
            <header class="site__header">
                <div class="site__header__wrapper">
                    <a class="site__header__wrapper_content" href="{% url 'index' %}">Главная</a>
                    <a class="site__header__wrapper_content" href="{% url 'logout' %}">Sign out</a>
                </div>
            </header>
            <div class="site__body">
                <div class="site__body__info">
                    <div class="site__body__info-left">
                        <div class="site__body__info_picture">
                            <img class="" scr = "{{ profile.profile_image }}" alt=""/>
                        </div>
                    </div>
                    <div class="site__body__info-right">
                        <div class="site__body__info_name">
                           {{ profile.name }}
                        </div>
                        <div class="site__body__info_username">
                            {{ profile.username }}
                        </div>
                        <div class="site__body__info__stats">

                        </div>
                    </div>
                </div>
                <div class="site__body__graphql">
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                </div>
                <div class="site__body__integrations">
                    <a class="site__body__signbox__form_a" href="#">integration settings</a>
                </div>
            </div>
            <footer class="site__footer">
                <div class="site__footer__wrapper">
                    <a class="site__footer__wrapper_content" href="#">INDEX</a>
                    <a class="site__footer__wrapper_content" href="althome.html">HOME</a>
                    <div class="site__footer__wrapper_content"><b>FOOTER</b></div>
                    <a class="site__footer__wrapper_content" href="../../../templates/signin.html">SIGN IN</a>
                    <a class="site__footer__wrapper_content" href="../../../templates/signup.html">SIGN UP</a>
                </div>
            </footer>
        </div>
{% endblock content %}
