{% extends 'second_main.html' %}
{% block content %}

     <body>
        <div class="site">
            <header class="site__header">
                <div class="site__header__wrapper">
                    <div class="site__header__wrapper_content">HEADER</div>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <a class="site__header__wrapper_content" href="signin.html">SIGN IN</a>
                </div>
            </header>
            <div class="site__body">
                <div class="site__body__block1">
                    <div class="site__body__block1_content">
                        content
                    </div>
                </div>
                <div class="site__body__block2">
                    <div class="site__body__block2_content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <div class="site__body__block3">
                    <div class="site__body__block3__box">
                        <div class="site__body__block3__box_content">content</div>
                        <div class="site__body__block3__box_content">content</div>
                        <div class="site__body__block3__box_content">content</div>
                        <div class="site__body__block3__box_content">content</div>
                        <div class="site__body__block3__box_content">content</div>
                    </div>
                </div>
            </div>
            <footer class="site__footer">
                <div class="site__footer__wrapper">
                    <a class="site__footer__wrapper_content" href="index.html">INDEX</a>
                    <a class="site__footer__wrapper_content" href="home.html">HOME</a>
                    <div class="site__footer__wrapper_content"><b>FOOTER</b></div>
                    <a class="site__footer__wrapper_content" href="signin.html">SIGN IN</a>
                    <a class="site__footer__wrapper_content" href="signup.html">SIGN UP</a>
                </div>
            </footer>
        </div>
    </body>

{% endblock content %}