<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>404</title>
        <link rel="stylesheet" href="../static/css/master.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="site">
            <header class="site__header site__header-bg">
                <div class="site__header__wrapper">
                    <a class="site__header__wrapper_content text-CD" href="#">LESSPROFILES</a>
                    <div>
                        <button class="site__header__wrapper_content" id="usernameBtn" type="button" name="button">USERNAME</button>
                        <a class="site__header__wrapper_content hidden" id="signoutBtn" href="signin.html">SIGN OUT</a>
                    </div>
                </div>
            </header>
            <div class="site__body">
                <div class="site__body__404">
                    <div class="site__body__404__code">404</div>
                    <div class="">

                    </div>
                </div>
            </div>
            <footer class="site__footer">
                <div class="site__footer__wrapper">
                    <a class="site__footer__wrapper_content" href="#">INDEX</a>
                    <a class="site__footer__wrapper_content" href="althome.html">HOME</a>
                    <a class="site__footer__wrapper_content" href="settings.html">SETTINGS</a>
                    <a class="site__footer__wrapper_content" href="signin.html">SIGN IN</a>
                    <a class="site__footer__wrapper_content" href="signup.html">SIGN UP</a>
                </div>
            </footer>
        </div>
        <script type="text/javascript">

            const usernameBtnNode = document.getElementById('usernameBtn');
            const signoutBtnNode = document.getElementById('signoutBtn');

            usernameBtnNode.addEventListener('click', () => {

                usernameBtnNode.classList.toggle('btnActive');
                signoutBtnNode.classList.toggle('hidden');

                usernameBtnNode.animate([
                    {opacity: '0'},
                    {opacity: '1'},
                ], 500);
            });

        </script>
    </body>
</html>
