<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>home</title>
        <link rel="stylesheet" href="../static/css/master.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="site">
            <header id="header" class="site__header">
                <div class="site__header__wrapper">
                    <a class="site__header__wrapper_content text-CD" href="#">LESSPROFILES</a>
                    <div>
                        <button class="site__header__wrapper_content" id="usernameBtn" type="button" name="button">USERNAME</button>
                        <a class="site__header__wrapper_content hidden" id="settingsBtn" href="settings.html">SETTINGS</a>
                        <a class="site__header__wrapper_content hidden" id="signoutBtn" href="signin.html">SIGN OUT</a>
                    </div>
                </div>
            </header>
            <div class="site__body">
                <div class="site__body__info">
                    <div class="site__body__info__cover">
                        <img class="cover" src="" alt="cvr">
                    </div>
                    <div class="site__body__info__cover-tinted"></div>
                    <div class="site__body__info-left">
                        <div class="site__body__info_picture">
                            <img class="image" src="" alt="img">
                        </div>
                    </div>
                    <div class="site__body__info-right">
                        <div class="site__body__info_name">
                            NAME
                        </div>
                        <div class="site__body__info_username">
                            username
                        </div>
                        <div class="site__body__info__stats">

                        </div>
                    </div>
                </div>
                <div class="site__body__graphql">
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                    <div class="site__body__graphql_item"></div>
                </div>
            </div>
            <footer class="site__footer">
                <div class="site__footer__wrapper">
                    <a class="site__footer__wrapper_content" href="#">INDEX</a>
                    <a class="site__footer__wrapper_content" href="althome.html">HOME</a>
                    <a class="site__footer__wrapper_content" href="settings.html">SETTINGS</a>
                    <a class="site__footer__wrapper_content" href="signin.html">SIGN IN</a>
                    <a class="site__footer__wrapper_content" href="signup.html">SIGN UP</a>
                </div>
            </footer>
        </div>
        <script type="text/javascript">

            const headerNode = document.getElementById('header');

            window.addEventListener('scroll', () => {
                headerNode.classList.toggle('opacity0', window.scrollY <= 380 && window.scrollY > 0 );
                headerNode.classList.toggle('site__header-bg', window.scrollY >= 380);
            });

            const settingsBtnNode = document.getElementById('settingsBtn');

            settingsBtnNode.addEventListener('click', () => {
                settingsBtnNode.classList.toggle('btnActive');
            });

            const usernameBtnNode = document.getElementById('usernameBtn');
            const signoutBtnNode = document.getElementById('signoutBtn');

            usernameBtnNode.addEventListener('click', () => {

                usernameBtnNode.classList.toggle('btnActive');
                settingsBtnNode.classList.toggle('hidden');
                signoutBtnNode.classList.toggle('hidden');

                usernameBtnNode.animate([
                    {opacity: '0'},
                    {opacity: '1'},
                ], 500);
            });

        </script>
    </body>
</html>
