<header class="site__header">
    <div class="site__header__wrapper">
        <a class="site__header__wrapper_content text-CD" href="#">LESSPROFILES</a>
        <div>
            {% if request.user.is_authenticated %}
                <button class="site__header__wrapper_content" id="usernameBtn" type="button" name="button">{{ profile.username }}</button>
                <a class="site__header__wrapper_content btnActive" id="settingsBtn" href="{% url 'edit-account' %}">SETTINGS</a>
                <a class="site__header__wrapper_content hidden" id="signoutBtn" href="{% url 'logout' %}">SIGN OUT</a>
            {% else %}
                <a class="site__header__wrapper_content hidden" id="signoutBtn" href="{% url 'login' %}">SIGN IN</a>
            {% endif %}
        </div>
    </div>
</header>