<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>index</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="site">
            <header class="site__header">
                <div class="site__header__wrapper">
                    <div class="site__header__wrapper_content">HEADER</div>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <a class="site__header__wrapper_content" href="signin.html">SIGN IN</a>
                </div>
            </header>
            <div class="site__body">
                <p>BODY</p>
            </div>
            <footer class="site__footer">
                <div class="site__footer__wrapper">
                    <a class="site__footer__wrapper_content" href="index.html">INDEX</a>
                    <a class="site__footer__wrapper_content" href="home.html">HOME</a>
                    <div class="site__footer__wrapper_content"><b>FOOTER</b></div>
                    <a class="site__footer__wrapper_content" href="signin.html">SIGN IN</a>
                    <a class="site__footer__wrapper_content" href="signup.html">SIGN UP</a>
                </div>
            </footer>
        </div>
    </body>
</html>

