<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>sign in</title>
        <link rel="stylesheet" href="../static/css/master.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="site">
            <header class="site__header">
                <div class="site__header__wrapper">
                    <a class="site__header__wrapper_content" href="#">INDEX</a>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <div class="site__header__wrapper_content">HEADER</div>
                    <a class="site__header__wrapper_content" href="althome.html">HOME</a>
                </div>
            </header>
            <div class="site__body">
                <div class="site__body__signbox-wrapper">
                    <div class="site__body__signbox">
                        <form class="site__body__signbox__form" action="althome.html" method="POST">
                            <h3>sign in</h3>
                            <input class="site__body__signbox__form_input" tabindex="1" type="text" name="username" value="" placeholder="username">
                            <input class="site__body__signbox__form_input" tabindex="2" type="password" name="password" value="" placeholder="password">
                            <input class="site__body__signbox__form_button" tabindex="3" type="submit" name="button" value="sign in">
                            <a class="site__body__signbox__form_a" tabindex="4" href="signup.html">Create account</a>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="site__footer">
                <div class="site__footer__wrapper">
                    <a class="site__footer__wrapper_content" href="#">INDEX</a>
                    <a class="site__footer__wrapper_content" href="althome.html">HOME</a>
                    <div class="site__footer__wrapper_content"><b>FOOTER</b></div>
                    <a class="site__footer__wrapper_content" href="signin.html">SIGN IN</a>
                    <a class="site__footer__wrapper_content" href="signup.html">SIGN UP</a>
                </div>
            </footer>
        </div>
    </body>
</html>
